---
import devsync from '@/devsync'
---

<section class="m-auto flex h-screen w-full max-w-5xl items-center justify-center lg:h-dvh">
  <main class="flex flex-col items-center justify-center gap-5 lg:flex-row">
    <div class="lg:order-0 order-1 w-full px-10 text-center lg:flex-1 lg:text-start">
      <h1 class="mb-10 text-3xl lg:text-6xl">{devsync.name}</h1>
      <h2 class="text-accent mb-8 text-xl lg:text-2xl">{devsync.jobTitle}</h2>
      <p class="text-text/80 mb-13 text-balance text-sm lg:text-xl">{devsync.description}</p>
      {
        devsync.socialMedia && devsync.socialMedia.length > 0 && (
          <ul class="flex w-full items-center justify-center gap-3 pl-0 lg:w-fit lg:justify-start">
            {devsync.socialMedia.map((social) => (
              <li class="bg-third/70 hover:bg-third/80 my-0 flex items-center justify-center rounded-full transition-transform hover:scale-105">
                <a
                  href={social.url}
                  class={`flex h-12 w-full items-center justify-center gap-2 py-1 pl-2 ${social.name.length > 0 && 'px-5 pl-2'}`}
                >
                  <img
                    src={social.icon}
                    alt={social.name}
                    class="text-accent mb-0 mt-0"
                    width="30"
                    height="30"
                  />
                  <span class="flex h-8 grow items-center justify-center text-white/80">
                    {social.name}
                  </span>
                </a>
              </li>
            ))}
          </ul>
        )
      }
    </div>

    {
      devsync.img && devsync.img.length > 1 && (
        <div class="flex flex-1 items-center justify-center">
          <img
            src={devsync.img}
            alt={devsync.name + ' ' + devsync.jobTitle}
            class="order-0 mb-10 w-60 rounded-full lg:order-1 lg:mb-0 lg:w-[450px]"
            style="mask-image: radial-gradient(circle, black 50%, transparent 70%);"
            width="450"
            height="450"
            loading="eager"
          />
        </div>
      )
    }
  </main>
</section>
